.banner {
    background-image: url("../img/banner-bg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FE1919;
        z-index: -1;
        opacity: .9;
    }
    &-header {
        margin-top: 55px;
        margin-bottom: 660px;
        @include xl {
            margin-bottom: 545px;
        }
        @include lg {
            margin-bottom: 378px;
        }
        @include mmd {
            margin-bottom: 158px;
        }
        @include sm {
            margin-bottom: 80px;
            margin-top: 16px;
        }
        &-image {
            width: 780px;
            height: 155px;
            @include xxl {
                width: 580px;
            }
            @include xl {
                width: 580px;
            }
            @include lg {
                width: 580px;
            }
            @include mmd {
                width: 500px !important;
            }
            @include sm {
                height: 45px;
            }
        }
        h2 {
            color: $primary;
            @include font-103;
            text-transform: uppercase;
            left: 20px;
            top: 52px;
            @include xxl {
                font-size: 74px;
                top: 45px;
                left: 60px;
            }
            @include xl {
                font-size: 74px;
                top: 40px;
            }
            @include lg {
                font-size: 74px;
                top: 45px;
                left: 50px;
            }
            @include md {
                left: 48px;
                top: 39px;
                font-size: 52px
            }
            @include sm {
                left: 0;
                top: 34px;
                font-size: 26PX;
                margin-bottom: 0;
                padding-bottom: 0;
                text-align: center;
                width: 100%;
            }
        }
    }
    &-btns {
        margin-bottom: 107px;
        padding: 0 30px;
        @include sm {
            margin-bottom: 50px;
            gap: 10px;
            padding: 0;
        }
        .btn {
            border-radius: 12px;
            border: 2px solid $black;
            background: $white;
            @include font-20;
            line-height: 140%;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            @include sm {
                width: calc(100% - 14px);
            }
        }
        & button {
            padding: 14px 23px;
            @include sm {
                padding: 8px 14px;
            }
            & span {
                ---width: 37px;
                width: var(---width);
                height: var(---width);
                border-radius: 10px;
                flex: 0 0 auto;
            }
        }
    }
    &-image {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 865px;
        height: 729px;
        @include xl {
            width: 788px;
            height: 662px;
            margin-left: 100px;
        }
        @include lg {
            width: 600px;
            height: 505px;
            margin-left: 30px;
        }
        @include mmd {
            width: 404px;
            height: 339px;
            margin-left: 20px;
        }
        @include sm {
            position: unset !important;
            transform: translate(0, 0);
        }
    }
}